{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- category Section start -->

<div class="row py-2">
    <p class="text-center fs-3">Our<b class="text-mycolor1">Category</b></p>
  
    <div class="col-sm-10 mx-auto">
      <div class="row py-2">
        <!-- category first start -->
        <div class="col-sm-3">
          <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
          <h4 class="text-center">Online Training</h4>
          <p class="text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
            cupiditate perspiciatis cumque. Illo libero voluptate quibusdam
            eligendi iure consectetur culpa itaque praesentium, laborum
            suscipit ad deleniti doloribus aliquid, beatae saepe.
          </p>
        </div>
        <!-- category first end -->
        <!-- category first start -->
        <div class="col-sm-3">
          <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
          <h4 class="text-center">Online Training</h4>
          <p class="text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
            cupiditate perspiciatis cumque. Illo libero voluptate quibusdam
            eligendi iure consectetur culpa itaque praesentium, laborum
            suscipit ad deleniti doloribus aliquid, beatae saepe.
          </p>
        </div>
        <!-- category first end -->
        <!-- category first start -->
        <div class="col-sm-3">
          <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
          <h4 class="text-center">Online Training</h4>
          <p class="text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
            cupiditate perspiciatis cumque. Illo libero voluptate quibusdam
            eligendi iure consectetur culpa itaque praesentium, laborum
            suscipit ad deleniti doloribus aliquid, beatae saepe.
          </p>
        </div>
        <!-- category first end -->
        <!-- category first start -->
        <div class="col-sm-3">
          <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
          <h4 class="text-center">Online Training</h4>
          <p class="text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
            cupiditate perspiciatis cumque. Illo libero voluptate quibusdam
            eligendi iure consectetur culpa itaque praesentium, laborum
            suscipit ad deleniti doloribus aliquid, beatae saepe.
          </p>
        </div>
        <!-- category first end -->
      </div>
    </div>
  </div>
  
  <!-- category Section end -->
  
  
  <!-- category 2 secation -->
  
  <div class="row py-2">
    <p class="text-center fs-3">Top<b class="text-mycolor1">Category</b></p>
    <div class="col-sm-10 mx-auto">
      <div class="row py-3">
        <div class="col-sm-4">
          <div class="card mx-auto shadow-lg w-75">
            <div class="card-header">Featured</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">A fifth item</li>
              <li class="list-group-item">A sixth item</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8">
          <!-- category right start -->
          <div class="card mb-3 border border-0 shadow-lg">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/temple.jpeg '%}"
                  class="img-fluid rounded-start catimg"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a
                    natural lead.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- category right end -->
          <!-- category right start -->
          <div class="card mb-3 border border-0 shadow-lg">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/temple.jpeg '%}"
                  class="img-fluid rounded-start catimg"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a
                    natural lead.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- category right end -->
          <!-- category right start -->
          <div class="card mb-3 border border-0 shadow-lg">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/temple.jpeg '%}"
                  class="img-fluid rounded-start catimg"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a
                    natural lead.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- category right end -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- category 2 secation -->
  
  <!-- Popular category section start-->
  
  <div class="row py-2">
    <p class="text-center fs-3">
      Popular <b class="text-mycolor1">Category</b>
    </p>
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
        <!-- Popular category first start -->
        <div class="col-sm-2 py-3">
          <div class="card mx-auto shadow-lg p-2 popularcat">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h6 class="card-title text-center mb-0">Card title</h6>
            </div>
          </div>
        </div>
        <!-- Popular category first end -->
      </div>
    </div>
  </div>
  
  <!-- Popular category section end -->

{% endblock %}