{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- services  start -->
<div class="row services py-3">
    <p class="text-center fs-3">
      Our <b class="text-mycolor1">Services</b>
    </p>
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <!-- services section card start -->
        <div class="col-sm-3">
          <div class="card mx-auto shadow-lg">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top mg-fluid im"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Summer Training</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card’s content.
              </p>
              <a href="#" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
        <!-- services section card end -->
  
        <!-- services section card start -->
        <div class="col-sm-3">
          <div class="card mx-auto shadow-lg">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top mg-fluid im"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Summer Training</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card’s content.
              </p>
              <a href="#" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
        <!-- services section card end -->
  
        <!-- services section card start -->
        <div class="col-sm-3">
          <div class="card mx-auto shadow-lg">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top mg-fluid im"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Summer Training</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card’s content.
              </p>
              <a href="#" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
        <!-- services section card end -->
  
        <!-- services section card start -->
        <div class="col-sm-3">
          <div class="card mx-auto shadow-lg">
            <img
              src="{% static 'images/sho.jpeg' %}"
              class="card-img-top mg-fluid im"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Summer Training</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make
                up the bulk of the card’s content.
              </p>
              <a href="#" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
        <!-- services section card end -->
      </div>
    </div>
  </div>
  <!-- services end -->

{% endblock %}